*{
  margin: 0;
  padding: 0;
}
@import url(https://fonts.google.com/specimen/Comfortaa?preview.text=About%20Us&preview.text_type=custom);
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@media (min-width: 650px){ 
body{
  width: 100%;
}
#img a{
  padding-left: 115px;
}
nav{
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
.menu{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 800px;
}

.grid{
  display: none;
}
.line{
font-size: 80px;
}
.h2{
  width: 1520px;
  margin: 10px 0 20px; 
}
.a2{
  padding-left: 0px;
}

.about{
  margin: 40px 55px 20px 55px;
  width: 1300px;
  height: 800px;
}
.a{
  margin-left: 300px;
  width: 940px;
}
.overlayer{
  width: 1520px;
  height: 800px;
}
.overlayer video{
  width: 1600px;
}

.top {
  position: absolute;
}

.top h1{
  font-size: 80px;
}
.top p{
  border: solid 2px transparent;
  width: 900px;
  font-size: 35px;
  margin: 80px 0px 0px 120px;
}

#dbtn{
  border: 5px solid #ECECEC;
  margin-top: 80px;
  width: 250px;
  height: 90px;
  font-size: 30px;
  border-radius: 15px;
}

.contact{
display: flex;
margin: 40px 55px 20px 15px;
width: 1500px;
}
}

@media  (max-width: 650px){
body{
  width: 100%;
}

.container{
  display: flex;
}

#img a{
  padding-left: 40px;
}
nav{
  position: relative;
  width: 723px;
  background-color: #222;
  align-items: center;
  justify-content: space-between;
}
.grid{
  display: block;
}
.grid.active .bar:nth-child(2){
  opacity: 0;
}
.grid.active .bar:nth-child(1){
  transform: translateY(9px) rotate(45deg);
}
.grid.active .bar:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);
}
.menu{
  position: absolute;
  left: -100%;
  top: 103px;
  flex-direction: column;
  row-gap: .30rem;
  background-color: #222;
  width: 100%;
  height: 200%;
  text-align: center;
  z-index: 100;
  transition: 0.6s;
}
.menu.active{
  left: 0;
}

.overlayer{
  width: 720px;
  height: 400px;
}

.overlayer video{
  width: 800px;
  float: left;
}

.top{
 position: absolute;
}
.top h1{
  font-size: 35px;
}

.top p{
  border: solid 2px transparent;
  width: 450px;
  font-size: 18px;
  margin: 20px 0px 0px 50px;
}

#dbtn{
  border: 3px solid #ECECEC;
  margin-top: 20px;
  width: 120px;
  height: 50px;
  font-size: 15px;
  border-radius: 8px;
}
.h2{
  width: 720px;
  margin: 10px 0 20px;
}
.a2{
  padding-left: 0px;
}

.crow{
  margin-left: 50px;
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row{
  margin-left: 50px;
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact{
  display: flex;  
  flex-direction: column;
  margin: 10px 55px 20px 0px;
}

.a{
  width: 620px;
  margin-left: 50px;
}
.contact .qline{
  width: 520px;
  margin: 10px 0px 50px 100px;
  font-size: 40px;
}
.contact .qline .p1{
  font-size: 100px;
}

.contact .query{
  margin-left: 50px;
}

.about{
  margin: 0px 55px 0px 20px;
  width: 700px;
  flex-direction: column;
  align-items: center;
}

.line{
  margin-bottom: 80px;
  width: 650px;
}
}

html{
scroll-behavior: smooth;
}
body{
  background-color:#ECECEC;
}
header{
background-color: #222;
}
nav{
display: flex;
}
.menu{
list-style: none;
display: flex;
}
.grid{
color: #ECECEC;
cursor: pointer;
}
.bar{
display: block;
width: 35px;
height: 5px;
margin: 5px 10px 5px 0px;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: #ECECEC;
}

#img img{
margin-top: 10px;
width: 100px;
height: 82px;
}
.h2{
font-size: 60px;
color: #222;
font-weight:bold; 
font-family: 'Comfortaa', cursive; 
text-align: center; 
border-bottom:3px solid #222 ; 
line-height: 0.1em; 
margin: 45px 0 20px; 
}
.h2 span{
background: #ECECEC;
padding : 0 10px;
}
.cbox p1{
position: absolute;
font-family: 'Comfortaa' , cursive;
color: #ECECEC;
text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
font-size: 40px;
}
.crow{
align-items: center;
margin-top: 80px;
display: flex;
margin-bottom: 80px;
}

.cbox{
display: grid;
align-items: center;
justify-items: center;
align-content: space-between;
margin: 40px 55px 20px 45px;
border: #ECECEC;
border-color: #222;
border-radius: 20px;
}
.cbox a{
font-family: 'Comfortaa' , cursive;
font-size: 40px;
text-decoration: none;
color: #222;
text-align: center;
}

.cbox img{
width: 400px;
height: 250px;
border-radius: 10px;
}
  

#img a{
  display: inline;
  text-decoration: none;
  background-color: #222;
}

#img a1{
  font-family: 'Borel', cursive;
  align-items: center;
  font-size: 40px;
  color: #ECECEC;
}
input[type=text]{
padding: 6px;
border: none;
border-radius: 5px;
font-size: 15px;
}
.button {
float: right;
padding: 6px 10px;
background: #ddd;
border-radius: 5px;
border: none;
cursor: pointer;
}

.menu button:hover{
background: #CCC;
}
.menu a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  color: #ECECEC;
  text-decoration: none;

}
.menu a:hover
{
text-decoration: underline;
color: #ECECEC;
}



.overlayer {
  display: flex;
  overflow:hidden; 
  text-align: center;
  align-items: center;
  justify-content: center;
}

.overlayer a1{
font-size: 80px;
font-weight: bold;
}


.top{
color: white;
text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}


#dbtn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: transparent;
}

#dbtn a{
color: #ECECEC;
text-decoration: none;
}

.topbtn:hover #dbtn a{color: #222;}
.topbtn:hover #dbtn {background-color: white; border-color: #222;}

.content{
  margin-left: 50px;
  color: black;
}

.dropbtn {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #ECECEC;

font-size: 22px;
}

.dropbtn img{
width: 18px; 
height: 18px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #222;
min-width: auto;
box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: #ECECEC;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd;} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

.bbody {
position: relative;
}
.bbody h1{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 30px 0px 0px 650px;
/* text-align: center; */
color: #222;
font-size: 80px;

}
.row{
display: flex;
}

.box{
display: grid;
margin: 40px 55px 20px 45px;
width: 400px;
height: 600px;
border: #ECECEC;
box-shadow: -5px 2px 8px 8px rgba(0,0,0,0.2);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-radius: 20px;
}

.box p{
text-align: justify;
font-size: 30px;
color: #222;
margin: 50px 50px 10px 50px;
border-radius: 20px;
}
.box img{
width: 400px;
height: 250px;
border-radius: 20px 20px 0px 0px;
}

.box p1{
padding: 0px 20px 10px 50px;
text-align: left;
color: #565656;
}
.box p2{
margin-left: 50px;
font-size: 20px;
color: #222;
}

.about{
display: flex;
border: #ECECEC;
}
.about img{
width: 600px; 
height: 601px;
border-radius: 50px; 
box-shadow: -5px 2px 8px 8px rgba(0,0,0,0.5); 
margin: 70px 70px 0px 50px ;  
}
.a{
display: flex;
border: solid 2px #ECECEC;
flex-direction: row;
font-size: 30px;
font-family:'Comfortaa',cursive;
text-align: center; 
font-weight:bold; 
color:#3a3a3a;
}
.line{
border: solid 2px #ECECEC;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 150px 30px 0 0;
text-align: center;
align-content: center;
height: 500px;
font-size: 20px;
}
.line p1{
font-size: 50px;
font-family: 'Comfortaa',cursive;
}
.qline{
border: solid 2px #ECECEC;
width: 400px;
margin-top: 180px;
margin-left: 100px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
font-size: 20px;
}
.qline p1{
font-size: 50px;
}


.query{
margin: 0px 50px 50px 300px;
align-items: flex-end;
width: 600px;
height: 600px;
border: 10px solid #222;
background-color: #222;
border-radius: 20px;  
}
.query h1{
font-size: 50px;
font-family: 'Comfortaa',cursive;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
color: #ECECEC;
}

.query input[type=text]{
width: 500px;
height: 60px;
margin: 20px 50px 20px 50px;
border-radius: 5px;
}

.query button{
margin: 20px;
width: 100px;
height: 50px;
font-family:'Borel',cursive ;
font-weight: bold;
font-size: 20px;
border-radius: 8px;
background-color: #ECECEC;
cursor: pointer;
}
.query button:hover{
background-color: #CCC;
}

